<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sklep</title>
</head>
  <body>
     <h1>Witaj w panelu dodawania graczy</h1>

     <form action="/dodajGracza">

          Nazwa gracza: <input id="NazwaGracza" name="NazwaGracza"></input>
         <br/>
         <br/>
         <input type="submit" value="Dodaj Gracza" ></input>

    </form>

     <h1>Lista graczy</h1>
  <select class="row" id="listaGraczy" name="listaGraczy" >
         <option th:each="gracz : ${listaGraczy}"
                 th:text="'Nazwa: '+${gracz},"
         >SraczkaZListyGraczy</option>
     </select>
  </body>
</html>