<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sklep</title>
</head>
  <body>
     <h1>Witaj w panelu dodawania graczy</h1>

     <form action="/dodajGracza">

          Nazwa gracza: <input id="NazwaGracza" name="NazwaGracza"></input>
         <br/>
         <br/>
         <input type="submit" value="Dodaj Gracza" ></input>

    </form>

     <h1>Lista graczy</h1>
     <br/>
     <br/>
     <table>
         <c:forEach items="${map}" var="gracze">
             <tr>
                 <td>${gracze.key}</td>
                 <c:forEach items="${gracze.value}" var="Gracze" >
                     <td>${Gracze}</td>
                 </c:forEach>
             </tr>
         </c:forEach>
         </table>

     <c:forEach items="${gracze}" var="gracze" >
         <tr>
             <td>${gracze.key}</td>
             <td>${gracze.value}</td>
         </tr>
     </c:forEach>

  </body>
</html>