<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sklep</title>
</head>
  <body>
     <h1>Witaj w sklepie dla gracza 1 oraz gracza 2 i 3 po URL</h1>

     <form action="/kupnoZUrl">
         <div th:switch="${ktoKupuje}">
             <p th:case="'Gracz 1'">
      <select class="row" id="statkiDoKulepinia" name="kupionyStatek" >
          <option th:each="statek : ${statkiDoKulepinia}"
                  th:selected="${statek.typ == 'zosia'}"

                  th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp} + ' CENA: ' + ${statek.cena}"
                  th:value="${statek.nazwa}"
          >SraczkaSklepowa</option>
      </select>

      <br/>
        <div>Kasa pierwszego gracza:  </div>
        <div class="kasaGracza1" th:text="${kasaGracza1}"></div>

      <br/>
      <input type="hidden" name="ktoKupuje" value="Gracz 1"/>
      <input type="submit" value="Kupuje Gracz 1"/>
      <br/>
         </p>
         <p th:case="'Gracz 2'">

             <select class="row" id="statkiDoKulepinia" name="kupionyStatek" >
                 <option th:each="statek : ${statkiDoKulepinia}"
                         th:selected="${statek.typ == 'zosia'}"

                         th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp} + ' CENA: ' + ${statek.cena}"
                         th:value="${statek.nazwa}"
                 >SraczkaSklepowa</option>
             </select>


             <div>Kasa drugiego gracza: </div>
             <div class="kasaGracza2" th:text="${kasaGracza2}"></div>
             <br/>

             <br/>
             <input type="hidden" name="ktoKupuje" value="Gracz 2"/>
             <input type="submit" value="Kupuje Gracz 2"/>

         </p>
         <p th:case="'Gracz 3'">

             <select class="row" id="statkiDoKulepinia" name="kupionyStatek" >
                 <option th:each="statek : ${statkiDoKulepinia}"
                         th:selected="${statek.typ == 'zosia'}"

                         th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp} + ' CENA: ' + ${statek.cena}"
                         th:value="${statek.nazwa}"
                 >SraczkaSklepowa</option>
             </select>


             <div>Kasa drugiego gracza: </div>
             <div class="kasaGracza3" th:text="${kasaGracza3}"></div>
             <br/>

             <br/>
             <input type="hidden" name="ktoKupuje" value="Gracz 3"/>
             <input type="submit" value="Kupuje Gracz 3"/>

             </p>

         </div>
    </form>

  </body>
</html>