<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sklep</title>
</head>
  <body>
     <h1>Witaj w sklepie dla gracza 1 oraz gracza 2 i 3 po URL</h1>

     <form action="/kupnoZUrl">
        <select class="row" id="statkiDoKulepinia" name="kupionyStatek" >
          <option th:each="statek : ${statkiDoKulepinia}"
                  th:selected="${statek.typ == 'zosia'}"

                  th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp} + ' CENA: ' + ${statek.cena}"
                  th:value="${statek.nazwa}"
          >SraczkaSklepowa</option>
         </select>
        <br/>
        <br/>
         <div th:text="'Kasa '+${ktoKupuje}"></div>
         <div class="ktoKupuje" th:text="${ktoKupuje.getKasa}"></div>
        <td>
            <span th:if="${ktoKupuje} == 'Gracz 1'" class="kasaGracza1" th:text="${kasaGracza1}" />
            <span th:if="${ktoKupuje} == 'Gracz 2'" class="kasaGracza2" th:text="${kasaGracza2}" />
            <span th:if="${ktoKupuje} == 'Gracz 3'" class="kasaGracza3" th:text="${kasaGracza3}" />
        </td>
        <br/>
      <br/>
      <input type="hidden" name="ktoKupuje" th:value="${ktoKupuje}"/>
      <input type="submit"  th:value="'Kupuje '+${ktoKupuje}"/>
      <br/>



    </form>

  </body>
</html>