<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
  <h1>Walka bedzie</h1>
   <form action="/obliczenia">
    <select class="row" id="statkiGracza1" name="statekGracza1" >
      <option th:each="statek : ${statkiGracza1}"
              th:selected="${statek.typ == 'zosia'}"

              th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp}"
              th:value="${statek.nazwa}"
              >Sraczka</option>
     </select>

       <select class="row" id="statkiGracza2" name="statekGracza2" >
           <option th:each="statek : ${statkiGracza2}"
                   th:selected="${statek.typ == 'zosia'}"

                   th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp}"
                   th:value="${statek.nazwa}"
           >Sraczka</option>
       </select>

       <select class="row" id="statkiGracza3" name="statekGracza3" >
           <option th:each="statek : ${statkiGracza3}"
                   th:selected="${statek.typ == 'zosia'}"

                   th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp}"
                   th:value="${statek.nazwa}"
           >Sraczka</option>
       </select>
       <br/>
           <h2>Wybierz graczy którzy walczą</h2>
           <div><label><input type="radio" name="ktoWalczy" value="Gracz 1+2"/>Gracza 1 + 2</label></div>
           <div><label><input type="radio" name="ktoWalczy" value="Gracz 2+3"/>Gracz 2 + 3</label></div>
           <div><label><input type="radio" name="ktoWalczy" value="Gracz 3+1"/>Gracz 3 + 1</label></div>
       <br/>

       <input type="submit" value="Walcz"/>

   </form>




</body>
</html>