<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
  <h1>Walka bedzie</h1>
   <form action="/obliczenia">
    <select class="row" id="statkiGracza1" name="statkiGracza1" >
      <option th:each="statek : ${statkiGracza1}"

              th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp}"
              th:value="${statek.nazwa}"
              >Sraczka</option>
     </select>

       <select class="row" id="statkiGracza2" name="statkiGracza2" >
           <option th:each="statek : ${statkiGracza2}"

                   th:text="'TYP: '+${statek.typ} + ' NAZWA: ' +${statek.nazwa} + ' EHP: ' + ${statek.ehp}"
                   th:value="${statek.nazwa}"
           >Sraczka</option>
       </select>



       <input type="submit" value="Walcz"/>

   </form>




</body>
</html>